@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

*{
    margin: 0;
    padding: 0;    
}

/* main body style */

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(240, 240, 240);
    font-family: "Coming Soon", sans-serif;
    color: rgb(80, 80, 109);
    text-align: center;
    font-size: 1.5rem;
}

/* Heading and score board styling*/

.heading {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;    
}

.score_area {
    margin-top: 3rem;
    margin-bottom: 2rem;
    align-items: center;
}

.user_result {
    background-color: rgba(0, 128, 0 , 0.2);  
    border-radius: 10px;
    box-shadow: 0 7px 12px rgba(0, 0, 0 , 0.2);
}

.computer_result {
    background-color: rgba(128, 0, 0 , 0.2);  
    border-radius: 10px;
    box-shadow: 0 7px 12px rgba(0, 0, 0 , 0.2);  
}

#player_score {
    color: green;
    font-weight: bold;
}

#computer_score {
    color: red;
    font-weight: bold;
}

/* Main content of the container*/
.container{
    position: relative;
    padding: 3rem 10rem;
    border-radius: 20px;
    background-color: white; 
    box-shadow: 0 7px 12px rgba(0, 0, 0 , 0.2);
}

.result_images { 
    display: flex;
    column-gap: 10rem;
    padding: 2rem 0;
}

.result_images img{
    width: 150px;
    margin: 2rem;
}

.computer_result img{
    transform: scaleX(-1); /* mirror the images for the computer */
} 

.option img{
    width: 75px;
}

.option_images {
    display: flex;
    align-items: center;
    margin-top: 3rem;
    justify-content: space-between;
}

.option {
    /* set the option icons to be transparent by default when not selected*/
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3 ease;
}

/*Set the opacity back to 1 when player hovers the mouse or clicks on the option */
.option:hover{
    opacity: 1;
}

.option.active{
    opacity: 1;
}


/*Style tex for option descriptions and for player instructions*/
.option span{
    font-size: 1rem;
    margin-top: 1rem;
}

.instructions {
    text-align: center;
    font-size: 1rem;
    margin-top: 2rem;
    color: red;
}


/*Set media query for screens 900px wide and less */
@media (max-width: 900px){
    .container {
        width: 100%;
        height: fit-content;         
        padding: 20px 10px;   
    }

    .result_images {
        column-gap: 3rem;
        align-items: center;
        justify-content: space-around;
        padding: 20px;
    }

    .option img{
        width: 50px;
    }

    .heading {
        font-size: 1.2rem;           
    }
}

/*Set media query for screens 500px wide and less */
@media (max-width: 500px){
    .result_images {
        column-gap: 25px;
        padding: 0 10px;
    }

    .result_images img{
        width: 75px;
    }

    .heading {
        font-size: 1rem;           
    }

    .option img{
        width: 40px;
    }
}

/*Set media query for screens 350px wide and less */
@media (max-width: 350px){
    .result_images {
        column-gap: 5px;
        padding: 0 10px;
    }

    .result_images img{
        width: 40px;
    }

    .heading {
        font-size: 1rem;           
    }

    .option img{
        width: 20px;
    }
}